[MASTER]
jobs=4 #number of processes to use
ignore = elevate/blueprints,main.py,window.py,tests

[BASIC]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_

# Bad variable names which should always be refused, separated by a comma
bad-names=foo,bar,baz,toto,tutu,tata

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=127

[MESSAGE CONTROL]
disable=C0305,C0413,E0611,W0108,W0511,R0913,R0917,R0902,R0904,R0912,R0914,I1101
