numpy==2.3.2 ; python_version >= "3.12" and python_version < "4.0"
pycairo==1.28.0 ; python_version >= "3.12" and python_version < "4.0"
pygobject==3.52.3 ; python_version >= "3.12" and python_version < "4.0"
